#para {
    border: solid 2px black;
    padding: 200px 100px 200px 100px;
}

#para2 {
    border: solid red 4px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#para3 {
    border: solid blue 6px;
    margin: 100px 100px 100px 100px;
}

#para4 {
    border: solid green 6px;
    margin: auto;
    width: 80%;
    /* helpful for making website responsive */
}

#btn-show {
    border: none;
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 40px;

}

#btn-show:hover {
    background-color: white;
    color: red;
    cursor: pointer;
    transition: .5s;

}

#btn1 {
    border: solid 2px red;
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    padding: 1px 2px;
    letter-spacing: 2px;
}