h2{
    color: dodgerblue;
    background-color: darkblue;
}

p{
    background-color: lightblue;
}


h3{
    text-align: center;

}
h4{
    text-align: right;

}

.two{
    text-align: justify;
    background-color: aqua;
    line-height: 50px;
}

.three{
    text-transform: uppercase;
    letter-spacing: 10px;
}

.four{
    text-transform: capitalize;
    font-size: 40px;
    font-style: oblique;
    font-weight: 800;
}

.five{
    text-decoration: line-through;
    text-decoration: underline;

   
}



a{
    color: green;
}
a:hover{
    color: white;
    transition: 1s;
    letter-spacing: 10px;
}