ol li{
    list-style: upper-roman;
}

ul li {
    list-style-type: square;
}

table{
    height: 80%;
    
    caption-side: bottom;
}

table,tr,th,td{
    border:  solid 2px red  ;
    border-collapse: collapse;
}

/* tbody tr:nth-child(odd){
    background-color: beige;
} */

tbody tr:nth-child(2){
    background-color: rgb(151, 111, 111);
}