.container {
    width: 90%;
    margin: auto;

}

.row {

    justify-content: space-between;
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header {
    background-color: #4040af;
    border: solid 2px blue;
    text-align: center;
    margin: 0px 0px 20px 0px;
    height: 15vh;
    width: auto;


}

.inb {


    border: solid 2px blue;
    background-color: #4040af;
    height: 50vh;
    width: 25%;
    margin: 10px 10vh 0px 0px;


}

.Msg-list {

    background-color: #4040af;
    border: solid blue 2px;
    height: 15vh;
    width: auto;
    margin: 10px 5vh 0px 0px;
}

.msg {
    background-color: #4040af;
    border: solid blue 2px;
    height: 15vh;
    width: auto;
    margin: 10px 0px 0px 0px;
}

.foot1 {
    background-color: #4040af;
    border: solid 2px blue;
    text-align: center;
    height: 15vh;
    width: auto;
    margin: 20px 0px 20px 0px;

}



@media (max-width:992px) {

    .row3,
    .header,
    .foot1,
    .msg,
    .msg-list,
    .inb {
        flex-direction: column;
        margin-bottom: 10px;
        width: 50%;
        height: 25%;


    }
}