<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div>
      <h2>Navbar</h2>
      <h1>This is navbar</h1>

      <img src="/Frontend-1/Project/images/food2.jpg" alt="not loading  " />
    </div>
  </body>
</html>
