.header {
    border: solid 2px red;
    height: 100px;
    width: auto;
}

.footer {
    border: solid 2px red;
    height: 100px;
    width: auto;

}

.one {
    border: solid 2px red;
    height: 60vh;
    width: 25%;
    flex-basis: 22%;
    margin: 13px 0px 13px 0px;
}

.two {
    border: solid 2px red;
    height: 60vh;
    width: 25%;
    flex-basis: 22%;
    margin: 13px 0px 13px 0px;
}

.three {
    border: solid 2px red;
    height: 60vh;
    width: 25%;
    flex-basis: 22%;
    margin: 13px 0px 13px 0px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:992px) {

    .row {
        flex-direction: column;

    }

    .one {
        width: auto;
        padding: 35px;

    }

    .two {
        width: auto;
        padding: 35px;
    }

    .three {
        width: auto;
        padding: 35px;
    }
}