.container {
    width: 90%;
    margin: auto;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-3 {
    flex-basis: 22%;
}


@media (max-width:992px) {

    .row {
        flex-direction: column;

    }
}