ul li:first-child {
    background-color: bisque;
}

ul li:last-child {
    background-color: rgb(189, 111, 14);
}

ul li:nth-child(2) {
    background-color: rgb(31, 189, 14);
}



p::first-line {
    border: solid 2px purple;
    font-size: 24px;
    text-decoration: underline;
}


p::first-letter {
    color: aquamarine;
    font-size: 90px;
}



.name::before {
    content: "!!!!"
}


.name::after {
    content: "&&&&&&&&&&";
}