/* .container {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 286px;
    background-color: white;

}
 */
/* .form-content {
    padding: 10px;
    border: solid 1px black;
    margin: 10px;
}

.login-btn {
    padding: 10px 65px 10px 65px;
    background-image: linear-gradient(to right, blue, pink);
    color: white;
    border: none;
    font-size: large;
    text-transform: uppercase;


}

.para {
    margin: none;
} */

/* .back {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 720px;
    border: red solid 2px;
} */

h1 {
    font-size: 25px;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(red, blue);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}